# Java gitignore

.gradle/
.metadata

#Ignore all bin folders
bin/
target/
generated/

#Ignore all .settings folders
*/.settings/

#Ignore vi temporary files
*~
*.orig
*.patch
class/
*.class

#Ignore tycho temporary files
.polyglot.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# VS Code gitignore
out
dist
lib
src-gen
node_modules
.vscode-test/
*.vsix
plugins
gen-webpack.config.js
gen-webpack.node.config.js
.browser_modules
*.log
.yarn

# Python gitignore
__pycache__/
*.py[cod]
*$py.class
